/* You can add global styles to this file, and also import other style files */


.container{
    width: 80%;
    margin: 0auto;
}

.body{
    margin: 0;

    font-size: 18px;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
}


li a{
   
    padding: 1em;

    
}



