#wrapper {
    display: flex;
    align-items: center;
    // justify-content: center;
  }

  p {
    padding: 50px;
  }

  input {
    width: 60%;
    margin: auto;
    padding-right: 45%;
  }


  form {
    width: 80%;
    height: 450px;
    margin: auto;
    position: relative;
   }

   .movies_display{
     margin-bottom: 50px;
   }

.button{

  margin-left:50px;
  padding-left: 1.5rem;

}

.button1{

  margin-top:50px;

}

