  <div class="row justify-content-center mt-5">

    <!-- SEARCH -->
    <div class="col-4">
      <div class="form-inline waves-light" class= "#wrapper">
        <div class="md-form mt-0">
          <input class="form-control" [(ngModel)]= "inputText" type="text" style="text-align-last: center;" placeholder="Search Movie">

          <div class="button">
            <button  click="search" class="" type="button" mdbBtn color="dark" mdbWavesEffect>Search</button>
          </div>

        </div>
      </div>
    </div>
  
    <!--Displaying movies data-->
<ul *ngFor = "let data of httpdata">

  <li>
    Movies: {{data.Poster}}
    Title: {{data.Title}}
  </li>

</ul>

    

  <!--MOVIES DISPLAY -->
  <div class="container pt-5">
    <div class="row">

      <div class="col-sm">
        movie1
      </div>

      <div class="col-sm">
        movie2
      </div>

      <div class="col-sm">
        movie3  
      </div>


    </div>
  </div>
  


  </div>




