  <div class="row justify-content-center mt-5">

    <!-- SEARCH -->
    <div class="col-4">
      <form class="form-inline waves-light" class="#wrapper">
        <div class="md-form mt-0">
          <input class="form-control" type="text" style="text-align-last: center;" placeholder="Search Movie">
        </div>
      </form>
    </div>
  
    

  <!--MOVIES DISPLAY -->
  <!-- <div class="container pt-5">
    <div class="row">

      <div class="col-sm">
        movie1
      </div>

      <div class="col-sm">
        movie2
      </div>

      <div class="col-sm">
        movie3  
      </div>

    </div>
  </div>
   -->


   <div class="row">
    <mdb-image-modal [modalImages]="images" type="margin"></mdb-image-modal>
  </div>


  </div>




